.start-game {
  width: 50%;
}

.question {
  font-weight: 400;
  text-align: center;
}

.button-answer,
.button-next {
  margin: 5px 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #e55a60;
  color: white;
}

.button-answer:disabled {
  background-color: grey;
}
.button-answer:disabled:hover {
  background-color: grey;
}

.container-question {
  margin: 0;
}

.button-answer:hover {
  background-color: #2399a6;
}
